.draftDetails {
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    border: 2px solid white; /* Borde blanco */
    border-radius: 10px; /* Bordes redondeados */
    margin-left: 30px;
}

.matchHeader {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 40px 40px 30px 40px; 
  }
  
.matchHeader img {
  max-width: 80px; /* Ancho de las imágenes */
  max-height: 80px; /* Altura de las imágenes */
}

span {
  margin-right: 4px;
  margin-left: 4px;
}

.teamName {
  font-size: 24px; /* Tamaño de fuente */
  font-weight: bold ;
}

.result {
    font-size: 20px; /* Tamaño de fuente */
    font-weight: bold ;
    border: 2px solid white;
    border-radius: 10px; 
    padding: 3px 3px 5px 3px;
}

.winner {
  color: #fcfcfc;
  font-weight: bold ;
}

.looser {
  color: #c4c0c081;
  font-weight: bold ;
}

.draftChamps {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  margin: 15px;
}

.redDraft{
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 1%;
}

.blueDraft{
  display: flex;
  align-items: center;
  align-content: center;
  margin-right: 1%;
}

.blueBans{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: start;
  margin-left: 20%;
  margin-right: 0.5%;
}

.redBans{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: start;
  margin-right: 20%;
  margin-left: 0.5%;
}

.draftBans {
  display: flex; 
  align-items: start; 
  justify-content: space-between; 
  margin: 15px;
}



  