.App {
  background-image: url('resources/background.jpg'); 
  background-size: cover; 
  background-position: center; 
  min-height: 100vh; 
  overflow-x: hidden; 
}

.Content {
  text-align: center;
  margin-left: 4%;
  margin-right: 4%;
}
